.App-content{
  background-color: #212F3C;
}

.renglon{
  display: flex;
  flex-wrap: wrap;
}

.color_contbar{
  height: 40px;
  background-color: rgb(255, 255, 255);
}

/* usar */
.estilo_letra_Open_Sans_Condensed{
  font-family: 'Open Sans Condensed', sans-serif;
}
/* quiza usar */
.estilo_letra_Abel{
  font-family: 'Abel', sans-serif;
}
/* usar en titulos */
.estilo_letra_Montserrat_Alternates{
  font-family:  'Montserrat Alternates', sans-serif;
}
/* usar */
.estilo_letra_Poiret_One{
  font-family: 'Poiret One', cursive;
}
/* usar */
.estilo_letra_Julius_Sans_One{
  font-family: 'Julius Sans One', sans-serif;
}
/* usar */
.estilo_letra_Bungee_Hairline{
  font-family: 'Bungee Hairline', cursive;
}
/* usar */
.estilo_letra_Pompiere{
  font-family: 'Pompiere', cursive;
}
/* usar */
.estilo_letra_Athiti{
  font-family: 'Athiti', sans-serif;
}


.color_fondo{

}
