.App-content{
  background-color: #212F3C;
}

.renglon{
  display: flex;
  flex-wrap: wrap;
}

.color_contbar{
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
}

/* usar */
.estilo_letra_Open_Sans_Condensed{
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-weight: bold !important;
}
/* quiza usar */
.estilo_letra_Abel{
  font-family: 'Abel', sans-serif;
}
/* usar en titulos */
.estilo_letra_Montserrat_Alternates{
  font-family:  'Montserrat Alternates', sans-serif;
}
/* usar */
.estilo_letra_Poiret_One{
  font-family: 'Poiret One', cursive;
}
/* usar */
.estilo_letra_Julius_Sans_One{
  font-family: 'Julius Sans One' !important;
  font-weight: bold !important;
}
/* usar */
.estilo_letra_Bungee_Hairline{
  font-family: 'Bungee Hairline', cursive !important;
  font-weight: bold !important;
}
/* usar */
.estilo_letra_Pompiere{
  font-family: 'Pompiere', cursive;
}
/* usar */
.estilo_letra_Athiti{
  font-family: 'Athiti', cursive !important;
  font-weight: bold !important;
}

.inlineblock{
  display: inline-block;
}


.color_fondo{

}


@media only screen and (max-width: 700px) {
  .tamaño-contbar{
    width: 100%;
  }

  .renglon{
    display: inline-flex;
    flex-wrap: wrap;
  }
}
