.estilo-top{
  background-color: #ffffff;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.estilo-bot{
  background-color: rgb(54,151,153);
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.phantom{
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}

.formato_icono{
  height: 100px;
  width: 100px;
  margin-right: 10%;
  margin-left: 10%;
}
