.estilo_titulo_sector{
  text-align: center;
}

.estilo_carousel_dos{
  margin-left: 20%;
  margin-right: 20%;
}

.altura_img_carousel_dos{
  height: 400px;
}

.texto_carousel_dos{
  background-color: rgba(177, 223, 165, 0.52);
}

.tamaño_im_thumbnail{
  width: 100px;
  height: 100px;
}
