.estilo_jumbotron_agricola{
  margin-left: 10%;
  margin-right: 10%;
  background: url('../assets/jumbotron/j1.jpg') no-repeat fixed center;
  background-color: rgb(255, 255, 255) !important;
}
.estilo_jumbotron_arquitectura{
  margin-left: 10%;
  margin-right: 10%;
  background: url('../assets/jumbotron/j2.jpg') no-repeat fixed center;
  background-color: rgb(161, 159, 159) !important;
}
.estilo_jumbotron_mantenimiento{
  margin-left: 10%;
  margin-right: 10%;
  background: url('../assets/jumbotron/j3.jpg') no-repeat fixed center;
  background-color: rgb(255, 255, 255) !important;
}

.estilo_texto_jumbotron{
  background-color: rgba(165, 165, 165, 0.6);
}

.espacio_superior{
  margin-top: 100px !important;
  margin-bottom: 100px;
}

.posicion_card{
  margin-left: 20%;
  margin-right: 20%;
}

.estilo_imagen_card{
  width: 100%;
  height: 250px;
}

.estilo_body_card{
  background-color: rgb(250, 250, 246)!important;
}

.estilo_footer_card{
  background-color: rgb(247, 246, 234)!important;
  color: rgb(6, 47, 59) !important;
}

.estilo_acordion{
  border-color: rgba(255, 255, 255, 0) !important;
}

.encabezado_acordion{
  background-color: rgb(255, 255, 255) !important;
}

.cuerpo_acordion{
  background-color: rgb(255, 255, 255) !important;
}

.color_letra_acordion{
  background-color: #eaffff !important;
  color: #031616 !important;
}

.col_imagen_acordion{
  width: 47%;
  margin-right: 2%;
}

.col_imagen_acordion{
  width: 50%;
}

.tamaño_imagen_acordion{
  padding-right: 5%;
  width: 100%;
  height: auto;
}





@media only screen and (max-width: 700px) {
  .col_imagen_acordion{
    width: 100%;
  }

  .col_imagen_acordion{
    width: 100%;
  }
}
