.color_fondo{
  background-color: rgba(255, 255, 255, 0)
}

.contenido_inicial{
  background-color: #ffffff !important;
}

.color_barra{
  opacity: 0.8;
}

.logo_topbar{
  width: 200px;
  height: 75px;
}

.posicion_logo{
  margin-left: 15%;
}

.letras_logo{
  color: #05172e !important;
}

.letras_menu{
  color: #08a48d !important;
}
.letras_menu:hover{
  color: #a0f2d6 !important;
}

.boton_forrajera{
  background-color: hsl(12, 92%, 64%) !important;
  color: #ffffff !important;
}
.boton_forrajera:hover{
  background-color:#ffffff !important;
  color: #e63c12 !important;
}

.estilo_boton_dropdown{
  background-color: rgb(255, 255, 255) !important;
  border-color: #ffffff00 !important;
  margin-right: 1%;
}
